.quotes-and-notes.search-results {
  width: 900px;
  #myClassicTabContentShadow {
    padding: 20px 0px;
  }
}

.search-results {
  .filters {
    .filter-display {
      a {
        background-color: white;
      }
    }
  }
}
