body {
  background-color: white;
}

.home-container {
  height: 92vh;
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.home-container::after {
  content: "";
  background: url("lady-bookplated.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: bottom;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  margin: 70px;
}

.home-content {
  h1 {
    color: white;
    margin-left: 50px;
    background-color: rgba(0,0,0,0.8);
    padding: 10px 20px;
    letter-spacing: 5px;
    font-size: 80px;
  }
}
