<div class="modal-ajax-content">
  <p><%= @details.first[:pages] %></p>
  <p><%= @details.first[:year_published] %></p>
  <p><%= @details.first[:isbn] %></p>
  <p><%= @details.first[:title] %></p>
</div>
