<div class="container">
  <h1>STATS ARE COOL</h1>

  <h1></h1>
  <div class="content">
    <div id="treemap"></div>
    <div id="tooltip"></div>
  </div>

  <div id="barchart" data-url="<%= barchart_path %>">
  </div>

</div>

