i {
  color: $light-gray;
}
i:hover {
  color: $bookplated;
  cursor: pointer;
}

.italic {
  font-style: italic;
}

.book-details {
  display: flex;
  font-family: "questa-grande", serif;
  .book-cover-container {
    position: relative;
  }
  .edit-cover {
    display: none;
    position: absolute;
    top: 75px;
    left: 25px;
    background-color: $bookplated;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "itc-american-typewriter", serif;
    color: white;
    // -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    // -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    // box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }
  .book-info {
    margin-left: 40px;
    i {
      color: $light-gray;
    }
    i:hover {
      color: $bookplated;
    }
  }
}

.quotes-and-notes {
  margin-top: 50px;
  ul {
    border-bottom: 1px solid $light-gray;
    li {
      margin-right: 5px;
    }
  }
  a {
    background-color: $light-gray;
    border-radius: 5px 5px 0px 0px;
    h4 {
      color: white;
      margin: 0px;
    }
  }
  a.active {
    background-color: $bookplated;
  }
  #myClassicTabContentShadow {
    padding: 20px;
    border: none;
  }

  .quotes-or-notes {
    margin-top: 50px;
    .quote-card {
      border-bottom: 1px solid rgba(0,0,0,0.1);
      margin-top: 30px;

      .quote-text {
        font-style: italic;
      }
      .page-num {
        color: rgba(0,0,0,0.5);
        font-size: 14px;
      }
    }
  }

}

