.navbar-lewagon {
  justify-content: space-between;
  // background: transparent;
  background: $bookplated;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

i {
  font-size: 20px;
  color: white;
}

.logo {
  color: white;
  letter-spacing: 2px;
  font-weight: medium;
}

.search-form {
  display: flex;
  border-bottom: 2px solid #8b949d;
  margin-top: 30px;
  margin-left: -100px;
  input[name="query"] {
    background: transparent;
    border: none;
  }
  button {
    background: transparent;
    border: none;
    i {
      color: #8b949d;
    }
  }
}
